.container {
  width: 100%;
  max-width: 1126px;
  margin-left: auto; 
  margin-right: auto; 
  padding-left: 20px; 
  padding-right: 20px; 

  @include screen ("desktop-large") {
    max-width: 1000px;
  }
  
  @include screen ("desktop") {
    max-width: 970px;
  }

  @include screen ("desktop-small") {
    max-width: 740px;
  }
  
  @include screen ("tablet") {
    max-width: 100%;
  }
}
