@media all and (max-width: 1128px){

  .container {
    max-width: 1000px;
  }

  .header-navigation-list {
    margin-left: 0;
  }

  .design-tools-name {
    width: 48%;
  }
  .news-card {
    width: 269px;
  }

}

@media all and (max-width: 1024px){

  .container {
    max-width: 970px;
  }

}

@media all and (max-width: 960px){

  .container {
    max-width: 740px;
  }

  .header-navigation-list {
    display: none;
  }

  .design-tools-name {
    width: 57%;
  }

  .main-section-text {
    width: 100%;
  }

  .main-section-image {
    display: none;
  }
  
  .design-cards {
    flex-wrap: wrap;
  }

  .design-tools-background {
    background-position-y: bottom;
    background-size: 100%;
  }

  .news-cards div:last-child {
    display: none;
  }

  .footer {
    flex-wrap: wrap;
  }

  .tel-form {
    width: 275px;
    margin-top: -140px;
  }

}

@media all and (max-width: 740px){

  .container {
    width: 100%;
  }

  .design-tools-name {
    width: 86%;
  }

  .header-buttons{

    button {
      display: none;
    }

    .hamburger{
      display: inline-block;
      align-self: center;
    }

  }
  
  .two-blocks {
    flex-direction: column;
  }

  .block-text {
    width: 100%;

    &:nth-child(2){
      margin-left: 0;
    }
  }

  .block-image {
    display: none;
  }

  .news-card:first-child {
    display: none;
  }

  .tel-form{

    h3, input{
      display: none;
    }

  }
}


@media all and (max-width: 550px){

  .design-tools-name {
    width: 100%;
  }

  .design-card{
    margin: 0 auto;
  }

  .block-text {
    width: 100%;
  }

  .news-card {
    margin: 0 auto;
  }

  .footer {

    flex-direction: column;
    margin: 30px auto;

    .logotype{
      margin-bottom: 10px;
    }

    .tel-form {
      display: none;
    }

    h3 {
      margin-bottom: 0;
    }

  }

}
