.header {
  @include flex-layout;
  margin-top: 44px;
  position: relative
}

.logotype {
  @include flex-layout;
  align-items: flex-end;
  
  &-image {
    align-self: center;
    margin-right: 13px;
    @include typography(700, 30px, 34px);
    color: $secondary-color;
  }

}

.header-navigation {
  @include flex-layout;
  color: $text-color;

  &-list {
    list-style: none;
    margin-left: 225px;
    @include flex-layout;

    @include screen ("desktop-large") {
      margin-left: 0;
    }

    @include screen ("desktop-small") {
      display: none;
    }

  }

  &-item {
    margin-left: 26px;
    align-self: center;
  }

  &-link {
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    
    &:hover {
      color: $primary-color;
      border-bottom: 2px solid $primary-color;
    }

  }

}

.header-buttons {
  @include flex-layout;

  .btn-secondary,
  .btn-primary {
    align-self: center;
    margin-right: 15px;

    @include screen ("desktop-small") {
      display: none;
    }

  }

  .btn-secondary {
    margin-left: 32px;
  }

}

.hamburger {
  display: none;

  @include screen ("desktop-small") {
    display: inline-block;
    align-self: center;

    .hamburger-toggle {
      opacity: 0;

      &:checked ~ .hamburger-btn > span {
        transform: rotate(45deg);
      }

      &:checked ~ .hamburger-btn > span::before {
        top: 0;
        transform: rotate(0);
      }

      &:checked ~ .hamburger-btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }

      &:checked ~ .hamburger-box {
        visibility: visible;
        right: 0;
      }
    }

    &-btn {
      display: flex; 
      align-items: center;
      position: absolute;
      top: 0;
      right: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;


      & > span,
      & > span::before,
      & > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $primary-color;
        transition: all 150ms ease;
      }

      & > span::before {
        content: '';
        top: -8px;
      }

      & > span::after {
        content: '';
        top: 8px;
      }

    }
  }

    &-box {
      display: block;
      position: absolute;
      visibility: hidden;
      top: -24px;
      right: 0;
      width: 36%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      text-align: center;
      background-color: $light-color;
      box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

      @include screen ("tablet") {
        width: 52%;
      }

      @include screen ("smartphone") {
        width: 64%;
      }

    }

    &-item {
      display: block;
      padding: 12px 24px;
      color: $primary-color;
      margin-bottom: 6px;
      @include typography (600, 20px, 30px);
    }

    .btn-primary,
    .btn-secondary {
      padding: 15px 54px;
      margin: 16px 0;
    }
  
}
