.header {
  @include display;
  margin-top: 44px;
}

.logotype {
  display: flex;
  
  .logotype-image, .logotype-header {
    align-self: center;
    margin-right: 13px;
    @include typography-weight700 (30px, 34px);
    color: $logo-color;
  }

}

.header-navigation {
  @include display;
  color: $text-color;

  &-list {
    list-style: none;
    @include display;
    margin-left: 225px;
  }

  &-item {
    margin-left: 26px;
    align-self: center;
  }

  &-link {
    color: $brand-color;
    text-decoration: none;
  }

}

.header-buttons {
  @include display;

  button {
    align-self: center;
    margin-right: 15px;
  }

  .sign-in-button {
    margin-left: 20px;
  }

  .hamburger {
    display: none;
  }
  
}
