.header {
  @include flex-layout;
  margin-top: 44px;
}

.logotype {
  @include flex-layout;
  
  &-image,
  &-header {
    align-self: center;
    margin-right: 13px;
    @include typography(700, 30px, 34px);
    color: $logo-color;
  }

}

.header-navigation {
  @include flex-layout;
  color: $text-color;

  &-list {
    list-style: none;
    @include flex-layout;
    margin-left: 225px;
  }

  &-item {
    margin-left: 26px;
    align-self: center;
  }

}

.header-buttons {
  @include flex-layout;

  button {
    align-self: center;
    margin-right: 15px;
  }

  .btn-secondary {
    margin-left: 32px;
  }

  .hamburger {
    display: none;
  }
  
}
