.mainSection{
  display:flex;
  justify-content: space-between;
  margin-bottom: 110px;
  .mainSection-text{
    width: 50%;
    margin-top: 100px;
  }
  .mainSection-text-headers {
    margin-bottom: 35px;
  }
  .mainSection-text-parag {
    margin-bottom: 50px;
  }
  .mainSection-image{
    width: 50%;
    margin-top: 35px;

  }
}

