.main-section {
  @include display;
  margin-bottom: 110px;

  &-text {
    width: 50%;
    margin-top: 100px;

    &-header {
      margin-bottom: 35px;
      @include typography-weight700 (44px, 54px);
    }

    &-parag {
      margin-bottom: 50px;
      @include typography-style-parag(400, 18px, 28px);
    }

  }

  &-image {
    width: 50%;
    margin-top: 35px;
  }
  
}

