.center-style{
  display: block;
  margin: 0 auto;
  text-align: center;
}
.name-section {
  width: 530px;
}

.design-background {
  background: url("../assets/img/Bg.png") no-repeat;
  background-size: 100% 100%;
  padding-bottom: 1px;
  margin-bottom: 120px;
  .design-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    .design-card{
      width: 240px;
    }
    .design-card-img{
      margin-bottom: 30px;
    }
    .design-card-header {
      margin-bottom: 15px;
    }
    .design-card-text {
      margin-bottom: 60px;
    }
  }
  .yellow-button{
    margin-bottom: 90px;
  }
}
