.center-style{
  display: block;
  margin: 0 auto;
  text-align: center;
}
.name-section {
  width: 530px;
}

.design-background {
  background: url("img/Bg.png") no-repeat;
  background-size: 100% 100%;
  padding-bottom: 1px;
  margin-bottom: 120px;
  .design-tools-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    div{
      width: 240px;
    }
    img{
      margin-bottom: 30px;
    }
    h2 {
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 60px;
    }
  }
  button{
    margin-bottom: 90px;
  }
}
