.news {
  padding-bottom: 120px;
  border-bottom: 1px solid $light-grey  ;
  .news-mainHeader{
    margin-bottom: 10px;
  }
  .news-mainText {
    margin-bottom: 55px;
  }
}
.news-cards {
  display: flex;
  justify-content: space-between;
  .news-card {
    width: 348px;
    margin-bottom: 45px;
    .news-card-img {
      width: 100%;
    }
    .news-card-smText {
      margin: 25px 0 15px;
    }
  }
}
.carousel-buttons {
  display: flex;
  justify-content: center;
  .carousel-button{
    margin-left: 10px;
    .dot {
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $light-grey;
    }
    .active{
      background-color: $yellow-button-color;
    }
  }
}