.btn-primary {
  @include button-size;
  @include typography(600, 16px, 24px);
  background: $primary-color;
  border-color: $white-color;
  color: $light-color;
}

.btn-secondary {
  @include button-size;
  @include typography(600, 16px, 24px);
  background: $white-color;
  border-color: $secondary-color;
  color: $logo-color;
}
