button {
  border-radius: 7px;
  padding: 15px 25px;
  border: 1px solid;
  cursor: pointer;
}

.sign-up-button {
  background: $yellow-color;
  border-color: $white-color;
  @include typography-weight600($light-grey, 16px, 24px);
}

.sign-in-button {
  background: $white-color;
  border-color: $gray-color;
  @include typography-weight600($logo-color, 16px, 24px);
}

.playing-button {
  background: $white-color;
  border: 0;
  color: $yellow-color;
  @include typography-weight600($yellow-color, 16px, 24px);
  text-decoration: underline;
  padding: 0;
  margin-left: 25px;

  &:before {
    content: url('../assets/icons/triangle.svg');
    vertical-align: sub;
    padding-right: 8px;
  }

}
