/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

@mixin display {
  display: flex;
  justify-content: space-between;
}

@mixin typography($weight, $size, $lineHeight) {
  font-weight: $weight;
  font-size: $size;
  line-height: $lineHeight;
  font-family: $text-font;
}
