/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

@mixin flex-layout {
  display: flex;
  justify-content: space-between;
}

@mixin typography($weight, $size, $line-height) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  font-family: $text-font;
}

@mixin button-size {
  border-radius: 7px;
  padding: 15px 25px;
  border: 1px solid;
}
