/**
 * Basic typography style for copy text
 */

body {
  color: $text-color;
  font: 400 14px / 28px $text-font;
}
.headerNavigation {
  color: $text-color;
}

.logotype-header{
  color: $logo-color;
  font: 700 30px / 34px $text-font;
}

.yellow-button{
  color: $light-grey;
  font: 600 16px / 24px $text-font;
}
.gray-button {
  color: $logo-color;
  font: 600 16px / 24px $text-font;
}

.mainSection-text-headers {
  color: $brand-color;
  font: 700 44px / 54px $text-font;
}
.mainSection-text-parag {
  color: $paragraph-color;
  font: 400 18px / 28px $text-font;
}

.playing-button {
  font: 600 16px / 24px $text-font;
  text-decoration: underline;
}

.designTools-name {
  color: $brand-color;
  font: 700 36px / 54px $text-font;
}

.design-cards{
  .design-card-name {
    color: $brand-color;
    font: 600 22px / 33px $text-font;
  }
  .design-card-text {
    color: $paragraph-color;
    font: 500 16px / 26px $text-font;
  }
}

.twoBlocks-text{
  &-supname {
    color: $paragraph-color;
    font: 500 16px / 24px $text-font;
  }
  &-name {
    color: $brand-color;
    font: 700 36px / 64px $text-font;
  }
  &-parag, &-listItem  {
    color: $paragraph-color;
    font: 500 16px / 24px $text-font;
  }
  &-subhead {
    color: $brand-color;
    font: 700 16px / 24px $text-font;
  }
}

.sectionNews {
  &-name{
    color: $brand-color;
    font: 700 34px / 51px $text-font;
  }
  &-text {
    color: $paragraph-color;
    font: 500 16px / 26px $text-font;
  }
  span {
    color: $paragraph-color;
    font: 400 16px / 28px $text-font;
  }
  .author-name{
    font-weight: bold;
  }
  .news-card-subhead {
    color: $brand-color;
    font: 700 24px / 34px $text-font;
  }
  .active-title{
    color: $yellow-button-color;
  }
}

.footer {
  .quickLinks-name, .legalStuff-name, .tel-form-name{
    color: $brand-color;
    font: 900 20px / 30px $text-font;
  }
  .quickLinks-link, .legalStuff-link {
    color: $paragraph-color;
    font: 400 16px / 35px $text-font;
  }
  .tel-form {
    input, ::placeholder {
      color: $gray-button-color;
      font: 900 16px / 28px $text-font;
    }
  }
}