/**
 * Basic typography style for copy text
 */

body {
  color: $text-color;
  font: 400 14px / 28px $text-font;
}
.header-navigation {
  color: $text-color;
}
.logotype h1{
  color: $logo-color;
  font: 700 30px / 34px $text-font;
}
.yellow-button{
  color: $light-grey;
  font: 600 16px / 24px $text-font;
}
.gray-button {
  color: $logo-color;
  font: 600 16px / 24px $text-font;
}
.main-headers {
  color: $brand-color;
  font: 700 44px / 54px $text-font;
}
.main-section-text p {
  color: $paragraph-color;
  font: 400 18px / 28px $text-font;
}
.playing-button {
  font: 600 16px / 24px $text-font;
  text-decoration: underline;
}
.name-section {
  color: $brand-color;
  font: 700 36px / 54px $text-font;
}
.design-tools-cards{
  h2 {
    color: $brand-color;
    font: 600 22px / 33px $text-font;
  }
  p {
    color: $paragraph-color;
    font: 500 16px / 26px $text-font;
  }
}
.section-in-two-text{
  span {
    color: $paragraph-color;
    font: 500 16px / 24px $text-font;
  }
  h2 {
    color: $brand-color;
    font: 700 36px / 64px $text-font;
  }
  p, li {
    color: $paragraph-color;
    font: 500 16px / 24px $text-font;
  }
  h3 {
    color: $brand-color;
    font: 700 16px / 24px $text-font;
  }

}
.section-hero{
  h2 {
    color: $brand-color;
    font: 700 36px / 54px $text-font;
  }
  p {
    color: $paragraph-color;
    font: 500 16px / 26px $text-font;
  }
}
.section-news {
  h2{
    color: $brand-color;
    font: 700 34px / 51px $text-font;
  }
  p {
    color: $paragraph-color;
    font: 500 16px / 26px $text-font;
  }
  span {
    color: $paragraph-color;
    font: 400 16px / 28px $text-font;
  }
  .author-name{
    font-weight: bold;
  }
  h3 {
    color: $brand-color;
    font: 700 24px / 34px $text-font;
  }
  .active-title{
    color: $yellow-button-color;
  }
}
.footer {
  h3{
    color: $brand-color;
    font: 900 20px / 30px $text-font;
  }
  li a {
    color: $paragraph-color;
    font: 400 16px / 35px $text-font;
  }
  .tel-form {
    input, ::placeholder {
      color: $gray-button-color;
      font: 900 16px / 28px $text-font;
    }
  }
}