/**
 * Basic typography style for copy text
 */

body {
  color: $text-color;
  font: 400 14px / 28px $text-font;
}
.header-navigation {
  color: $text-color;
}
.header-logotype-name{
  color: $logo-color;
  font: 700 30px / 34px $text-font;
}
.yellow-button{
  color: $light-grey;
  font: 600 16px / 24px $text-font;
}
.gray-button {
  color: $logo-color;
  font: 600 16px / 24px $text-font;
}
.main-section-name {
  color: $brand-color;
  font: 700 44px / 54px $text-font;
}
.main-section-parag {
  color: $paragraph-color;
  font: 400 18px / 28px $text-font;
}
.playing-button {
  font: 600 16px / 24px $text-font;
  text-decoration: underline;
}
.design-name {
  color: $brand-color;
  font: 700 36px / 54px $text-font;
}
.design-card{
  .design-card-header {
    color: $brand-color;
    font: 600 22px / 33px $text-font;
  }
  .design-card-text {
    color: $paragraph-color;
    font: 500 16px / 26px $text-font;
  }
}
.twoBlocks{
  .twoBlocks-text-miniHead {
    color: $paragraph-color;
    font: 500 16px / 24px $text-font;
  }
  .twoBlocks-text-header {
    color: $brand-color;
    font: 700 36px / 64px $text-font;
  }
  .twoBlocks-text-article, .twoBlocks-text-listItem {
    color: $paragraph-color;
    font: 500 16px / 24px $text-font;
  }
  .twoBlocks-text-subheader {
    color: $brand-color;
    font: 700 16px / 24px $text-font;
  }

}
.news {
  .news-mainHeader{
    color: $brand-color;
    font: 700 34px / 51px $text-font;
  }
  .news-mainText {
    color: $paragraph-color;
    font: 500 16px / 26px $text-font;
  }
  .news-card-smText {
    color: $paragraph-color;
    font: 400 16px / 28px $text-font;
  }
  .author-name{
    font-weight: bold;
  }
  .news-card-header {
    color: $brand-color;
    font: 700 24px / 34px $text-font;
  }
  .active-title{
    color: $yellow-button-color;
  }
}
.footer {
  .quick-links-header, .legal-stuff-header, .tel-form-header{
    color: $brand-color;
    font: 900 20px / 30px $text-font;
  }
  .legal-stuff-item, quick-links-item {
    color: $paragraph-color;
    font: 400 16px / 35px $text-font;
  }
  .tel-form {
    input, ::placeholder {
      color: $gray-button-color;
      font: 900 16px / 28px $text-font;
    }
  }
}